/*Style to apply for Titus Thomas Personal Portfolio*/

/*==========Universal HTML elements styles==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

/*==========Body elements styles==========*/
body {
    width: screen;
    height: screen;
}

/*==========Menu Icon styles==========*/
#menuIcon {
    width: 24px;
    height: 24px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

/*==========Menu Icon => Span styles==========*/
#menuIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #580c1f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/*==========Menu Icon => Span child 1 position styles==========*/
#menuIcon span:nth-child(1) {
    top: 2px;
}

/*==========Menu Icon => Span child 2 position styles==========*/
#menuIcon span:nth-child(2) {
    top: 10px;
}

/*==========Menu Icon => Span child 3 position styles==========*/
#menuIcon span:nth-child(3) {
    top: 18px;
}

/*==========Menu Icon Span open class for child 1 transform styles==========*/
#menuIcon.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*==========Menu Icon Span open class for child 2 transform styles==========*/
#menuIcon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

/*==========Menu Icon Span open class for child 3 transform styles==========*/
#menuIcon.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*==========Logo elements styles==========*/
#logo a {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: #b4121b;
}

/*==========Nav elements styles==========*/
nav {
    padding: 10px 0px 10px 30px;
    padding: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #00000080;
    box-shadow: 0px 0px 10px rgba(180, 18, 27, 1);
    z-index: 999;
}

nav ul {
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul li {
    display: block;
    list-style-type: none;
    cursor: pointer;
    padding: 5px 0px;
}

nav ul li a {
    padding: 17px 25px;
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
}

nav ul li a:hover {
    color: #b4121b;
}

.page {
    height: 100vh;
    width: 100%;
}

#Home {
    position: relative;
    background: url(assets/images/Background\ Image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#Home #intro {
    position: absolute;
    text-align: center;
    padding: 20px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000bb;
    color: #b4121b;
    font-size: 25px;
}

#Home h4 {
    letter-spacing: 10px;
}

#Home h1 {
    letter-spacing: 10px;
}

#Home span {
    display: inline-block;

}

#socials {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#socials ul {
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#socials li {
    display: block;
    list-style-type: none;
    cursor: pointer;
    padding: 5px 20px;
}

#socials ul li a::before {
    content: attr(data-socials);
    position: absolute;
    background-color: var(--accent-color);
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-65px) translateX(-20px);
}

.icon {
    height: 50px;
    width: 50px;
}

.icon:hover {
    height: 60px;
    width: 60px;
    transition: 200ms ease;
}

#linkedin, #github{
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 1);
}

#linkedin:hover {
    background: #007ab9;
    box-shadow: 0px 0px 10px rgba(0, 122, 185, 1);
}

#github:hover {
    background: #444444;
    box-shadow: 0px 0px 10px rgba(68, 68, 68, 5);
}

#credly, #codedex{
    background: #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

#credly:hover {
    background: #3b9e62;
    box-shadow: 0px 0px 10px rgba(59, 158, 98, 5);
}

#codedex:hover {
    background: none;
    box-shadow: none;
}

@media (max-width:600px) {
    nav {
        justify-content: left;
    }
    nav ul {
        position: absolute;
        top: 65px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        background: #000000;
        gap: 0;
        overflow: hidden;
    }

    nav ul li a {
        padding: 10px 300px;
    }

    #menuIcon {
        display: inline-flex;
    }

    #logo {
        padding-left: 25px;
    }

    #navItem {
        transition: all 0.5s;
    }
}