/*Style to apply for Titus Thomas Personal Portfolio*/

/*==========Universal HTML elements styles==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
    line-height: calc(1em + 1.5rem);
    scroll-behavior: smooth;
}

/*==========root elements styles==========*/
:root {
    /*==========declaring color variables==========*/
    --clr-BG: #000000;
    --clr-Primary: #FFFFFF;
    --clr-Secondary: #B4121B;
    --clr-base: #111111;
    --clr-BG-lite: #262626;
    --clr-Comments: #444444;

    /*==========declaring font size variables==========*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-small: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

/*==========Body elements styles==========*/
body {
    width: 100dvw;
    height: 100dvh;
    background: var(--clr-BG);
    color: var(--clr-Primary);
}

/*==========Heading elements styles==========*/
h1, h2, h3, h4, h5, h6 {
    font-size: var(--size-lg);
    letter-spacing: 10px;
}

/*==========Media elements styles==========*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

/*==========Button elements styles==========*/
button {
    display: flex;
    align-items: center;
    padding: 0.5em, 1em;
    border: 2px solid var(--clr-BG-lite);
    border-radius: 6px;
    color: var(--clr-BG-lite);
    background: none;
    font-weight: bold;
    cursor: pointer;
}

/*==========Button elements hovering styles==========*/
button:hover {
    border: 2px solid var(--clr-Secondary);
    background: var(--clr-Secondary);
    color: var(--clr-Primary);
    font-weight: bold;
}

/*==========Anchor elements styles==========*/
a {
    color: var(--clr-Primary);
    text-decoration: none;
}

/*==========Anchor elements hovering styles==========*/
a:hover {
    color: var(--clr-Secondary);
}

ul {
    list-style: none;
}

/*==========Content class styles==========*/
.Content {
    width: 100%;
    /* margin-left: auto;
    margin-left: auto; */
    /* padding-left: 0.5rem;
    padding-right: 0.5rem; */
    border: 1px solid red;
}

/*==========Page class styles==========*/
.Page {
    margin-top: 5rem;
}

/*==========Nav elements styles==========*/
nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid var(--clr-BG-lite);
    z-index: 999;
}

/*==========Menu Icon styles==========*/
#menuIcon {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    margin-left: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/*==========Menu Icon => Span styles==========*/
#menuIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--clr-Primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/*==========Menu Icon => Span child 1 position styles==========*/
#menuIcon span:nth-child(1) {
    top: 2px;
}

/*==========Menu Icon => Span child 2 position styles==========*/
#menuIcon span:nth-child(2) {
    top: 10px;
}

/*==========Menu Icon => Span child 3 position styles==========*/
#menuIcon span:nth-child(3) {
    top: 18px;
}

/*==========Menu Icon Span open class for child 1 transform styles==========*/
#menuIcon.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*==========Menu Icon Span open class for child 2 transform styles==========*/
#menuIcon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

/*==========Menu Icon Span open class for child 3 transform styles==========*/
#menuIcon.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*==========Navigation bar styles==========*/
#navItem {
    display: none;
}

/*==========logo class styles==========*/
.logo {
    margin-left: 1rem;
    display: block;
}

/*==========logoText class styles==========*/
.logoText {
    color: var(--clr-Secondary);
}

/*==========logoText class h1 styles==========*/
.logoText h1 {
    letter-spacing: 5px;
}

/*==========logoText class span styles==========*/
.logoText span {
    color: var(--clr-Primary);
}

/*==========logoText class hovering styles==========*/
.logoText:hover {
    color: var(--clr-Primary);
    span {
        color: var(--clr-Secondary);
    }
}

.navList {
    color: var(--clr-Primary);
}

/*==========Media Query==========*/

/*==========XS Media Query==========*/
@media screen and (min-width: 475px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 475px;
    }

    /*==========logoText class h1 styles==========*/
    .logoText h1 {
        letter-spacing: 10px;
    }
}

/*==========Small Media Query==========*/
@media screen and (min-width: 640px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 640px;
    }
}

/*==========Medium Media Query==========*/
@media screen and (min-width: 768px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 768px;
    }
}

/*==========Large Media Query==========*/
@media screen and (min-width: 1024px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 1024px;
    }

    /*==========Page class styles==========*/
    .Page {
        margin-top: 10rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    /*==========Navigation bar styles==========*/
    #navItem {
        display: flex;
        align-items: center;
        list-style: none;
    }

    /*==========Navigation link styles==========*/
    .navList {
        text-decoration: none;
        padding: 12px 1rem;
        transition: color 0.3s;
    }

    .navList:hover {
        color: var(--clr-Secondary);
    }

    .navList.active {
        color: var(--clr-Secondary);
        font-weight: bold;
        border-bottom: 3px solid var(--clr-Secondary);
    }

    /*==========Menu Icon styles==========*/
    #menuIcon {
        display: none;
    }
}

/*==========XL Media Query==========*/
@media screen and (min-width: 1280px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 1280px;
    }
}

/*==========2XL Media Query==========*/
@media screen and (min-width: 1536px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 1536px;
    }
}