/*Style to apply for Titus Thomas Personal Portfolio*/

/*==========Universal HTML elements styles==========*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
    line-height: calc(1em + 1.5rem);
    scroll-behavior: smooth;
}

/*==========root elements styles==========*/
:root {
    /*==========declaring color variables==========*/
    --clr-BG: #000000;
    --clr-Primary: #FFFFFF;
    --clr-Secondary: #B4121B;
    --clr-base: #111111;
    --clr-BG-lite: #262626;
    --clr-Comments: #444444;

    /*==========declaring font size variables==========*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-small: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

/*==========Body elements styles==========*/
body {
    width: 100dvw;
    height: 100dvh;
    background: var(--clr-BG);
    color: var(--clr-Primary);
}

/*==========Heading elements spacing styles==========*/
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 5px;
}

/*==========Heading elements font size styles==========*/
h1 {
    font-size: var(--size-xl);
}

h2 {
    font-size: var(--size-lg);
}

h3 {
    font-size: var(--size-base);
}

h4 {
    font-size: var(--size-small);
}

h5 {
    font-size: var(--size-xs);
}

/*==========Media elements styles==========*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

/*==========Button elements styles==========*/
button {
    display: flex;
    align-items: center;
    padding: 0.5em, 1em;
    border: 2px solid var(--clr-BG-lite);
    border-radius: 6px;
    color: var(--clr-BG-lite);
    background: none;
    font-weight: bold;
    cursor: pointer;
}

/*==========Button elements hovering styles==========*/
button:hover {
    border: 2px solid var(--clr-Secondary);
    background: var(--clr-Secondary);
    color: var(--clr-Primary);
    font-weight: bold;
}

/*==========Anchor elements styles==========*/
a {
    color: var(--clr-Primary);
    text-decoration: none;
}

/*==========Anchor elements hovering styles==========*/
a:hover {
    color: var(--clr-Secondary);
}

/*==========strong elements styles==========*/
strong {
    font-size: var(--size-lg);
}

/*==========Content class styles==========*/
.Content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid red;
}

/*==========Page class styles==========*/
.Page {
    margin-top: 5rem;
}

/*==========Nav elements styles==========*/
header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid var(--clr-BG-lite);
    z-index: 999;
}

/*==========Nav elements styles==========*/
nav {
    display: flex;
    align-items: center;
}

/*==========Menu Icon styles==========*/
#menuIcon {
    width: 24px;
    height: 24px;
    position: relative;
    display: flex;
    margin-left: 1rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/*==========Menu Icon => Span styles==========*/
#menuIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--clr-Primary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/*==========Menu Icon => Span child 1 position styles==========*/
#menuIcon span:nth-child(1) {
    top: 2px;
}

/*==========Menu Icon => Span child 2 position styles==========*/
#menuIcon span:nth-child(2) {
    top: 10px;
}

/*==========Menu Icon => Span child 3 position styles==========*/
#menuIcon span:nth-child(3) {
    top: 18px;
}

/*==========Menu Icon Span open class for child 1 transform styles==========*/
#menuIcon.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*==========Menu Icon Span open class for child 2 transform styles==========*/
#menuIcon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

/*==========Menu Icon Span open class for child 3 transform styles==========*/
#menuIcon.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/*==========Navigation bar styles==========*/
#navItem {
    display: none;
}

/*==========logo class styles==========*/
.logo {
    margin-left: 1rem;
    display: block;
}

/*==========logoText class styles==========*/
.logoText {
    color: var(--clr-Secondary);
}

/*==========logoText class span styles==========*/
.logoText span {
    color: var(--clr-Primary);
}

/*==========logoText class hovering styles==========*/
.logoText:hover {
    color: var(--clr-Primary);
    span {
        color: var(--clr-Secondary);
    }
}

/*==========navList class styles==========*/
.navList {
    color: var(--clr-Primary);
}

/*==========Home section styles==========*/
#Home {
    height: 100dvh;
    position: relative;
    text-align: center;
    background: url(assets/images/Background\ Images/Certificate\ Background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*==========Home section intro styles==========*/
#Home #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    width: max-content;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.082);
    color: var(--clr-Secondary);
}

/*==========Home section intro headings styles==========*/
#Home #intro h1 {
    display: block;
    font-size: var(--size-xl);
}

#Home #intro h4 {
    font-size: var(--size-base);
}

/*==========Home section intro span styles==========*/
#Home #intro span {
    color: var(--clr-Primary);
}

/*==========Roles span styles==========*/
#Roles span {
    display: block;
    font-size: var(--size-xs);
}

/*==========Styles to create | symbol before every role==========*/
#Home #Roles span::before {
    content: '|';
    padding: 0 3px 0 0;
    display: inline-block;
    color: #FFFFFF;
}

/*==========Styles to create | symbol after every role==========*/
#Home #Roles span::after {
    content: '|';
    padding: 0 0 0 3px;
    display: inline-block;
    color: #FFFFFF;
}

#socials {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#socials ul {
    float: right;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: space-between;
}

#socials li {
    display: block;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
}

#socials ul li a {
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
}

.icon {
    height: 50px;
    width: 50px;
}

#linkedin, #github{
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255, 1);
}

#linkedin:hover {
    background: #007ab9;
    box-shadow: 0px 0px 10px rgba(0, 122, 185, 1);
}

#github:hover {
    background: #444444;
    box-shadow: 0px 0px 10px rgba(68, 68, 68, 5);
}

#credly, #codedex{
    background: #000000;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

#credly:hover {
    background: #3b9e62;
    box-shadow: 0px 0px 10px rgba(59, 158, 98, 5);
}

#codedex:hover {
    background: #ffee39;
    box-shadow: 0px 0px 10px rgba(255, 238, 57, 5);
}

/*==========Media Query==========*/

/*==========XS Media Query==========*/
@media screen and (min-width: 475px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 475px;
    }

    /*==========Home section intro headings styles==========*/
    #Home #intro h1 {
        font-size: var(--size-4xl);
    }
 
     #Home #intro h4 {
         font-size: var(--size-2xl);
    }
 
     /*==========Roles span styles==========*/
     #Roles span {
         font-size: var(--size-base);
    }
}

/*==========Small Media Query==========*/
@media screen and (min-width: 640px) {
    /*==========logoText class h1 styles==========*/
    .logoText h1 {
        letter-spacing: 10px;
    } 

    /*==========Heading elements font size styles==========*/
    h1 {
        font-size: var(--size-2xl);
    }

    h2 {
        font-size: var(--size-xl);
    }

    h3 {
        font-size: var(--size-lg);
    }

    h4 {
        font-size: var(--size-base);
    }

    h5 {
        font-size: var(--size-small);
    }

    /*==========Content class styles==========*/
    .Content {
        max-width: 640px;
    }

    /*==========Home section intro headings styles==========*/
    #Home #intro h1 {
        font-size: var(--size-5xl);
    }
 
     #Home #intro h4 {
         font-size: var(--size-3xl);
    }
 
     /*==========Roles span styles==========*/
     #Roles span {
         font-size: var(--size-lg);
    }
}

/*==========Medium Media Query==========*/
@media screen and (min-width: 768px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 768px;
    }

    /*==========Roles span styles==========*/
    #Roles span {
        display: inline-block;
    }

    /*==========Styles to create | symbol before every role==========*/
    #Home #Roles span::before {
        content: '';
        padding: 0 5px 0 0;
        display: inline-block;
        color: #FFFFFF;
    }

    /*==========Styles to create | symbol before first role==========*/
    #Home #Roles span:first-child::before {
        content: '|';
        padding: 0 5px 0 0;
        display: inline-block;
        color: #FFFFFF;
    }

    /*==========Styles to create | symbol after every role==========*/
    #Home #Roles span::after {
        content: '|';
        padding: 0 0 0 5px;
        display: inline-block;
        color: #FFFFFF;
    }

    /*==========Home section intro headings styles==========*/
    #Home #intro h1 {
        font-size: var(--size-6xl);
    }
 
     #Home #intro h4 {
         font-size: var(--size-4xl);
    }
 
     /*==========Roles span styles==========*/
     #Roles span {
         font-size: var(--size-lg);
    }
}

/*==========Large Media Query==========*/
@media screen and (min-width: 1024px) {
    /*==========Heading elements font size styles==========*/
    h1 {
        font-size: var(--size-3xl);
    }

    h2 {
        font-size: var(--size-2xl);
    }

    h3 {
        font-size: var(--size-xl);
    }

    h4 {
        font-size: var(--size-lg);
    }

    h5 {
        font-size: var(--size-base);
    }
    
    /*==========Content class styles==========*/
    .Content {
        max-width: 1024px;
    }

    /*==========Page class styles==========*/
    .Page {
        margin-top: 10rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    /*==========Navigation bar styles==========*/
    #navItem {
        display: flex;
        align-items: center;
        list-style: none;
    }

    /*==========Navigation link styles==========*/
    .navList {
        text-decoration: none;
        padding: 6px 1rem;
        transition: color 0.3s;
    }

    .navList:hover {
        color: var(--clr-Secondary);
    }

    .navList.active {
        color: var(--clr-Secondary);
        font-weight: bold;
        border-bottom: 3px solid var(--clr-Secondary);
    }

    /*==========Menu Icon styles==========*/
    #menuIcon {
        display: none;
    }

    /*==========Home section intro headings styles==========*/
    #Home #intro h1 {
        font-size: var(--size-7xl);
    }
 
     #Home #intro h4 {
         font-size: var(--size-5xl);
    }
 
     /*==========Roles span styles==========*/
     #Roles span {
         font-size: var(--size-xl);
    }
}

/*==========XL Media Query==========*/
@media screen and (min-width: 1280px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 1280px;
    }
}

/*==========2XL Media Query==========*/
@media screen and (min-width: 1536px) {
    /*==========Content class styles==========*/
    .Content {
        max-width: 1536px;
    }
}