

/*==========AboutMe Section==========*/

#About_me {
    position: relative;
    color: #b4121b;
    width: 100%;
    max-height: max-content;
}

.Subject {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.Left_Row img{
    display: block;
    height: max-content;
    width: max-content;
    border-radius: 5%;
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 1);
}

.Left_Row {
    display: block;
    width: 50%;
    word-spacing: 5px;
}

.Right_Row {
    display: block;
    width: 50%;
    word-spacing: 5px;
}

.Right_Row p:nth-child(2) {
    margin-top: 1rem;
}

.Right_Row p .tab {
    display: inline-block;
    margin-left: 2em;
}

.Right_Row p {
    color: whitesmoke;
}

.Right_Row p span {
    color: #b4121b;
}

#Profile {
    margin-top: 1rem;
}

#Personal_Details {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#Personal_Details ul li {
    list-style: none;
    margin-top: 1rem;
}

#segments {
    color: grey;
}

#values {
    margin-left: 2rem;
    color: whitesmoke;
}

#values li::before {
    content: ': ';
    color: grey;
}

#values a {
    text-decoration: none;
    color: whitesmoke;
}

#values a:hover {
    text-decoration: underline;
}

#About_me .gap {
    height: 60px;
}

.Bar_Chart {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 3rem 0;
}

.Bar_Chart .Sub-Content {
    position: relative;
    top: 70px;
}

.Progress_Bar {
    margin-top: 15px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 30px;
    background: gray;
    border-radius: 5px;
    overflow: hidden;
}

.Progress_Text {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: start;
    left: 5px;
    color: whitesmoke;
    font-weight: bold;
}

.Progress_Percent {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    right: 5px;
    color: whitesmoke;
    font-weight: bold;
}

.Progress_Fill {
    display: flex;
    align-items: center;
    background: #b4121b;
    height: 100%;
    width: var(--data-fill);
    animation: fill 2s ease-in-out;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: var(--data-fill);
    }
}

.Button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
    line-height: 4.8rem;
}

.Button a {
    display: inline-block;
    position: relative;
    background: transparent;
    text-decoration: none;
    color: #b4121b;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    height: 5.4rem;
    line-height: 5.4rem;
    width: 350px;
    padding: 0rem 3rem;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #b4121b;
    cursor: pointer;
}

.Button a:hover {
    background-color: #b4121b;
    color: #FFFFFF;
    font-weight: bold;
}

/*==========Resume Section==========*/

#Resume {
    position: relative;
    color: #b4121b;
    width: 100%;
    max-height: max-content;
}

.Experience {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.timeline {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: 50px auto;
    color: #000000;
}

.timeline-item {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}

.text-box {
    padding: 20px 30px;
    background: #FFFFFF;
    position: relative;
    border-radius: 6px;
}

.left-item {
    left: 0;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1.5s;
}

.right-item {
    left: 50%;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1.5s;
}

.timeline-item img {
    position: absolute;
    width: 40px;
    background: #FFFFFF;
    border-radius: 6px;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-item img {
    left: -20px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.text-box h4, h5 {
    font-weight: 800;
    color: #b4121b;
}

.text-box h5 {
    font-weight: 800;
    color: #000000;
}

.sub-text {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.text-box small {
    display: inline-block;
    color: grey;
}

.text-box p {
    margin-bottom: 15px;
}

.text-box a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: #b4121b;
    color: #FFFFFF;
}  

.text-box a:hover {
    font-weight: bold;
    background: #FFFFFF;
    color: #b4121b;
    border: 3px solid #b4121b;
}

.text-box a:hover span::before {
    content: " ";
}

.left-item-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #FFFFFF;
    right: -14px;
}

.right-item-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FFFFFF;
    left: -14px;
}

.Academics {
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 60px;
}

.in-view {
    transform: none !important;
    opacity: 1;
    transition: all 1.5s;
}

#Projects {
    position: relative;
    color: #b4121b;
    width: 100%;
    max-height: max-content;
}

.Project-List {
    display: block;
    margin-bottom: 60px;
}

.Project-Card {
    position: relative;
    display: flex;
    width: 100%;
    margin: 20px 20px 50px 20px;
    
    border-radius: 10px;
    overflow: hidden;
}

.Project-Card img {
    height: 200px;
    width: 250px;
    background: gray;
}

.Project-Details {
    padding: 10px 20px 10px 20px;
    background: #FFFFFF;
}

.Project-Details::before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #FFFFFF;
    left: 186px;
}

.Project-Details small {
    display: inline-block;
    margin-bottom: 15px;
    color: grey;
}

.Project-Details p {
    color: #000000;
    margin-bottom: 15px;
}

.Project-Details p a {
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

.Project-Details p a:hover {
    color: #b4121b;
}

.Project-Details span {
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    background: #b4121b;
    color: #FFFFFF;
    border-radius: 5px;
}

.Project-model {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max-content;
    width: 50%;
    border: 5px solid #b4121b;
    background: #000000;
}

.Project-model::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.Project-model header {
    margin-top: 20px;
    border-bottom: 2px solid #b4121b;
}

.Project-model h3 {
    padding: 10px 20px 0px;
    color: #b4121b;
    letter-spacing: 5px;
}

.Project-model p {
    padding: 10px 20px;
    color: #FFFFFF;
}

.Project-model p span {
    padding: 20px;
    background: none;
}

.Project-model .closeButton {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: larger;
    text-align: center;
    letter-spacing: 5px;
    background: transparent;
    color: #b4121b;
    border-top: 3px solid #b4121b;
    cursor: pointer;
}

.Project-model .closeButton:hover {
    background: #b4121b;
    color: #000000;
    font-weight: bolder;
}

#Certificates {
    position: relative;
    color: #b4121b;
    height: 100vh;
}

.Carousel {
    height: 75vh;
    width: 100%;
    margin-bottom: 60px;
}

.Carousal-Image {
    height: 70vh;
    width: 80%;
    background: #FFFFFF;
    object-fit: fill;
}

.Carousal-Container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.Carousal-Tracker {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.Carousal-Slide {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousalText {
    position: absolute;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 120px;
    padding: 10px;
}

.carousalCaption {
    display: none;
}

.carousalCaption small {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.carousalCaption.current-slide {
    display: block;
}

.carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.carouselButton-Left {
    left: 150px;
}

.carouselButton-Right {
    right: 150px;
}

.slideArrows {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.1);
}

.slideArrows:hover {
    color: rgb(0, 0, 0);
}

.carousalNav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    padding: 10px;
}

.Carousel-Indicator {
    border: 0;
    border-radius: 10px;
    height: 5px;
    width: 40px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    cursor: pointer;
}

.Carousel-Indicator.current-slide {
    background: rgb(0, 0, 0);
}

.is-hidden {
    display: none;
}

/* #Services {
    position: relative;
    color: #b4121b;
    width: 100%;
    max-height: max-content;
    border: 2px solid green;
} */

#Connect {
    position: relative;
    color: #b4121b;
    width: 100%;
    max-height: max-content;
    margin-bottom: 70px ;
}

.Form-Container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

fieldset {
    border: transparent;
}

.form-field {
    position: relative;
    margin: 20px 0;
}

.form-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.form-field .connectMessage-label {
    position: absolute;
    top: 5%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
    padding: 0 5px;
    pointer-events: none;
}

.form-field input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #b4121b;
    padding: 0 10px;
    background: transparent;
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
    
}

.form-field input:hover {
    border: 2px solid #b4121b;
}

.form-field textarea {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #b4121b;
    padding: 0 10px;
    background: transparent;
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
}

.form-field textarea:hover {
    border: 2px solid #b4121b;
}

.form-field button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: gray;
    padding: 10px 10px;
    background: transparent;
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 5px;
}

.form-field input:not(:placeholder-shown)~label,
.form-field textarea:not(:placeholder-shown)~label {
    top: 0;
    font-family: 12px;
    background: #000000;
    color: gray;
}

.form-field input:focus,
.form-field input:valid,
.form-field textarea:focus,
.form-field textarea:valid {
    border: 2px solid #b4121b;
}

.form-field input:focus~label,
.form-field input:valid~label,
.form-field textarea:focus~label,
.form-field textarea:valid~label {
    top: 0;
    font-family: 12px;
    background: #000000;
    color: #b4121b;
}

.form-field button:hover {
    background: #b4121b;
    border: 2px solid #b4121b;
    color: #FFFFFF;
    font-weight: bolder;
}

footer {
    position: relative;
    color: #b4121b;
    padding: 10px 0px;
    width: 100%;
    max-height: max-content;
    margin-top: 10%;
}

.upArrow {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: ease-out 0.5s;
}

.upArrow .doubleUpArrow {
    color: gray;
    font-size: 50px;
    margin: 30px 30px 0px 30px;
    padding: 30px 30px 0px 30px;
    background: #111111;
    border-radius: 100px 100px 0px 0px;
    transition: ease-out 0.5s;
}

.upArrow .doubleUpArrow:hover {
    margin: 5px 30px 30px 30px;
    padding: 5px 30px 30px 30px;
    bottom: 10px;
    color: #FFFFFF;
}

footer .Content{
    position: relative;
    height: max-content;
    width: 100%;
    background: #111111;
    border-radius: 5px;
    margin: 0;
    padding: 20px 10px;
}

.footerRow {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerRow p {
    color: gray;
}

.footerRow button {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 5px 10px;
    background: #000000;
    color: gray;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 10px;
}

.footerRow button .mode {
    margin-right: 5px;
}

.footerRow button:hover {
    border: 2px solid #b4121b ;
    color: #b4121b;
}

.footerRow button:hover img {
    background: #b4121b;
    border: 0px;
    border-radius: 50%;
}

.index ul {
    position: relative;
    display: flex;
    list-style: none;
}

.index ul li {
    color: gray;
}

.index ul li a {
    text-decoration: none;
    padding: 0 20px 0 0;
    color: gray;
}

.index ul li a:hover {
    color: #b4121b;
}

.index ul li ul {
    position: relative;
    display: block;
    list-style: none;
}

.socialMedia ul {
    position: relative;
    display: flex;
    list-style: none;
}

.socialMedia ul li a {
    position: relative;
    display: flex;
    padding: 0 0 0 20px;
    margin: 0;
}

.socialMedia ul li a svg {
    fill: gray;
}

.socialMedia ul li a .st0 {
    stroke: gray;
}

.socialMedia ul li a svg:hover {
    fill: var(--accent-color);
}

.socialMedia ul li a:hover .st0{
    stroke: #C71610;
}

.copyrights {
    color: #444444;
    text-align: center;
}

@media screen and (max-width:600px) {
    nav {
        justify-content: left;
    }
    nav ul {
        position: absolute;
        top: 65px;
        left: 0px;
        right: 0px;
        flex-direction: column;
        text-align: center;
        background: #000000;
        gap: 0;
        overflow: hidden;
    }

    nav ul li a {
        padding: 10px 300px;
    }

    #menuIcon {
        display: inline-flex;
    }

    #logo {
        padding-left: 25px;
    }

    #navItem {
        transition: all 0.5s;
    }

    .timeline {
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }

    .right-item {
        left: 0;
    }

    .left-item img, .right-item img {
        left: 10px;
    }

    .left-item-arrow, .right-item-arrow {
        border-right: 15px solid #FFFFFF;
        border-left: 0;
        left: -14px;
    }
}